<h1><%= @event.name %></h1>
<p> by: <%= @event.creator.name %></p>
<p><%= @event.date %></p>
<p><%= @event.location %></p>

<%= link_to 'All events', events_path %>

<% if user_signed_in? %>
  <% if @event.attendees.include?(current_user) %>
    <%= button_to 'Cancel Attendance', event_event_attendance_path(@event), method: :delete %>
  <% else %>
    <%= button_to 'Attend Event', event_event_attendances_path(@event), method: :post %>
  <% end %>
<% end %>

<h2>Attendees:</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= link_to attendee.name, attendee %>
    </li>
  <% end %>
</ul>